<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8fc6b9e61d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <title>Animalandia</title>
</head>

<body>
    <header id="dash">
        <div class="logo">
            <a href="index.html"><img src="../assets/img/logo.jpg"></a>
        </div>

        <div class="sesion">
        <img src="../assets/img/golden.jpg">
        <span>
            <strong>Bienvenido</strong><br>Usuario
            <i class="fa-solid fa-rigth-from-bracket"></i>
        </span>            
        </div>
    </header>

    <section id="dashboard">
        <article class="menu1">
            <ul>
                <li class="item1"><a href="Usuario/usuario.html"><i class="fa-solid fa-user"></i> Usuarios</a></li>
                <li class="item1"><a href="Cliente/cliente.html"><i class="fa-solid fa-user-group"></i>  Clientes</a></li>
                <li class="item1"><a href="Producto/producto.html"><i class="fa-solid fa-paw"></i>  Productos</a></li>
                <li class="item1"><a href="Pedido/pedido.html"><i class="fa-solid fa-cart-plus"></i>  Pedidos</a></li>
                <li class="item1"><a href="Reportes/reportes.html"><i class="fa-solid fa-money-check-pen"></i>  Reportes</a></li>
            </ul>
        </article>

        <article class="contenido">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, aspernatur harum. Totam, nulla optio incidunt tempore distinctio, reprehenderit rerum corrupti et asperiores itaque recusandae ab ducimus fuga qui possimus accusamus!</p>
            
        </article>

        </section>

        <footer>
            <img src="">
        </footer>
</body>