<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8fc6b9e61d.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <title>Equipo</title>
</head>

<body>

    <header>
        <div class="logo">
            <img src="../assets/img/logo.jpg" alt="logo animalandia">
        </div>

        <div class="botones">
            <a href="login.html"><button class="b-azul">Ingresar</button></a>
            <button class="b-morado">Registrarse</button>
        </div>
    </header>

    <nav>
        <a href="index.html" class="item">Home</a>
        <a href="equipo.html" class="item">Equipo</a>
        <a href="servicios.html" class="item">Servicios</a>
        <a href="tips.html" class="item">Tips</a>
        <a href="contacto.html" class="item">Contacto</a>
    </nav>

    <main>
    <section id="slider-equipo">
        <img src="../assets/img/banner_equipo 2.png">

    </section>

    <h1 class="tequipo">Nuestro Equipo</h1>

    <section id="equipos">
        <article class="equipo">
            <img src="../assets/img/medico1.jpg">
            <h2>Mario Pérez</h2>
            <h3>Especialista en Aves</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, dolorem?</p>
        </article>

        <article class="equipo">
            <img src="../assets/img/medico2.jpg">
            <h2>Mario Pérez</h2>
            <h3>Especialista en Aves</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, dolorem?</p>
        </article>

        <article class="equipo">
            <img src="../assets/img/medico1.jpg">
            <h2>Mario Pérez</h2>
            <h3>Especialista en Aves</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, dolorem?</p>
        </article>

        <article class="equipo">
            <img src="../assets/img/medico2.jpg">
            <h2>Mario Pérez</h2>
            <h3>Especialista en Aves</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, dolorem?</p>
        </article>

        
    </section>
    </main>

    <footer>
        <div class="boxfooter">
            <div class="foot">
                <i class="fa-solid fa-building"></i>
                <h3>Sedes</h3> 
                <p> Sede Kennedy<br>
                    Sede Suba<br>
                    Sede Fontibon<br>
                    Sede Centro<br>
                </p>
            </div>

            <div class="foot">
                <i class="fa-solid fa-building"></i>
                <h3>Sedes</h3> 
                <p> Sede Kennedy<br>
                    Sede Suba<br>
                    Sede Fontibon<br>
                    Sede Centro<br>
                </p>
            </div>

            <div class="foot">
                <i class="fa-solid fa-building"></i>
                <h3>Sedes</h3> 
                <p> Sede Kennedy<br>
                    Sede Suba<br>
                    Sede Fontibon<br>
                    Sede Centro<br>
                </p>
            </div>

        </div>
    </footer>
</body>
</html>