<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8fc6b9e61d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <title>Tips</title>
</head>

<body>

    <header>
        <div class="logo">
            <img src="../assets/img/logo.jpg" alt="logo animalandia">
        </div>

        <div class="botones">
            <a href="login.html"><button class="b-azul">Ingresar</button></a>
            <button class="b-morado">Registrarse</button>
        </div>
    </header>

    <nav>
        <a href="index.html" class="item">Home</a>
        <a href="equipo.html" class="item">Equipo</a>
        <a href="servicios.html" class="item">Servicios</a>
        <a href="tips.html" class="item">Tips</a>
        <a href="contacto.html" class="item">Contacto</a>
    </nav>

    <main>
    <section id="slider-servicios">
        <img src="../assets/img/Group 2.png">
    </section>

    <h1 class="tseccion">Aquí te dejamos los mejores tips</h1>
        
    <section id="tips">

        <article class="tip">
            <div class="img-tip">
                <i class="fa-solid fa-virus-covid-slash"></i>
            </div>
            
            <div class="tex-tip">
                <h3>Vacunar</h3>
                <p>Al asegurarte de que tu mejor amigo cuenta con las vacunas necesarias, le brindas protección contra infecciones, fortaleces sus defensas e incluso, previenes enfermedades que pueden afectar a otros humanos.</p>
            </div>
        </article>

        <article class="tip">
            <div class="img-tip">
                <i class="fa-solid fa-syringe"></i>
            </div>
            
            <div class="tex-tip">
                <h3>Desparasitar</h3>
                <p>Lo recomendable es hacerlo cada 6 meses con antiparásitos de amplio espectro, así tu perro o gato mantendrá una adecuada digestión y lo alejará de padecimientos inoportunos.</p>
            </div>
        </article>

        <article class="tip">
            <div class="img-tip">
                <i class="fa-solid fa-burger"></i>
            </div>
            
            <div class="tex-tip">
                <h3>Brindar dieta adecuada</h3>
                <p>Una alimentación balanceada le otorgará a tu mascota los nutrientes necesarios para crecer, desarrollarse y tener energía suficiente.</p>
            </div>
        </article>

        <article class="tip">
            <div class="img-tip">
                <i class="fa-solid fa-sun"></i>
            </div>
            
            <div class="tex-tip">
                <h3>Ofrecer un espacio adecuado</h3>
                <p>Antes de llevar a un nuevo animal a tu casa, debes asegurarte de contar con el espacio adecuado para él, así él podrá disfrutar de su nuevo hogar. Si vives en un departamento reducido, tal vez te convenga más elegir a un animal de raza pequeña que a uno de raza grande.</p>
            </div>
        </article>

        <article class="tip">
            <div class="img-tip">
                <i class="fa-solid fa-face-grin-hearts"></i>
            </div>
            
            <div class="tex-tip">
                <h3>Dar amor</h3>
                <p>Los perros y los gatos tienen la capacidad de amar a sus dueños incondicionalmente, tú puedes devolver ese cariño a través de jugar con tu mascota e integrarla a las actividades familiares, así se fortalece la confianza en los animales.</p>
            </div>
        </article>

        <article class="tip">
            <div class="img-tip">
                <i class="fa-solid fa-spray-can-sparkles"></i>
            </div>
            
            <div class="tex-tip">
                <h3>Limpieza</h3>
                <p>Tanto con su cuerpo, como con los recipientes donde bebe agua y se alimenta, tu perro o gato merece contar con la higiene adecuada para evitar infecciones.</p>
            </div>
        </article>

        <article class="tip">
            <div class="img-tip">
                <i class="fa-solid fa-shower"></i>
            </div>
            
            <div class="tex-tip">
                <h3>Atender su pelaje</h3>
                <p>Las pulgas, chinches o garrapatas resultan muy molestas y peligrosas para tu mascota, por lo cual, vigilar su pelaje evitará padecimientos en su piel.</p>
            </div>
        </article>

        <article class="tip">
            <div class="img-tip">
                <i class="fa-solid fa-circle-h"></i>
            </div>
            
            <div class="tex-tip">
                <h3>Asistir al veterinario</h3>
                <p>Acudir periódicamente al veterinario es parte de vigilar su desarrollo y prevenir futuras enfermedades. Lo recomendable es ir cada 6 meses para mantener un buen estado de salud.</p>
            </div>
        </article>

        <article class="tip">
            <div class="img-tip">
                <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            
            <div class="tex-tip">
                <h3>Cuidar su reproducción</h3>
                <p>Existen muchos animales en situación de calle, por ello, lo más aconsejable es esterilizar a tu perro o gato, en caso de no querer hacerlo, es importante cuidarlo en estado de celo para evitar algún incidente.</p>
            </div>
        </article>

        <article class="tip">
            <div class="img-tip">
                <i class="fa-solid fa-magnifying-glass-location"></i>
            </div>
            
            <div class="tex-tip">
                <h3>Vigilar su paradero</h3>
                <p>Lo ideal es no permitir que tu mascota deambule suelta, si sale a la calle es preferible acompañarlo con su correa, de esta manera se evita su pérdida o alguna agresión con otro animal.</p>
            </div>
        </article>
    </section>

    </main>

    <footer>
        <div class="boxfooter">
            <div class="foot">
                <i class="fa-solid fa-building"></i>
                <h3>Sedes</h3> 
                <p> Sede Kennedy<br>
                    Sede Suba<br>
                    Sede Fontibon<br>
                    Sede Centro<br>
                </p>
            </div>

            <div class="foot">
                <i class="fa-solid fa-building"></i>
                <h3>Sedes</h3> 
                <p> Sede Kennedy<br>
                    Sede Suba<br>
                    Sede Fontibon<br>
                    Sede Centro<br>
                </p>
            </div>

            <div class="foot">
                <i class="fa-solid fa-building"></i>
                <h3>Sedes</h3> 
                <p> Sede Kennedy<br>
                    Sede Suba<br>
                    Sede Fontibon<br>
                    Sede Centro<br>
                </p>
            </div>

        </div>
    </footer>
</body>
</html>